Ստորև գրված առաջադրանքները կատարելու վերջնաժամկետը **06.03.2023 20:00** է։ Առաջադրանքները կատարելուց հետո, պետք է 

1. ներբեռնեք այս ֆայլը ձեր համակարգիչ (`File` $\to$ `Download .ipynb`)
2. վերնագրին ավելացնեք ձեր անուն, ազգանունը լատինատառ, օրինակ՝ *HW2_Pandas_NshanPotikyan.ipynb* ֆորմատով
3. ուղարկեք ֆայլը **nshan.potikyan@gmail.com** հասցեին` նամակի թեմա (subject) դաշտում գրելով **HA2**

**Ուշադրություն**․ 
1. Վերոնշյալ պայմաններին չբավարարելու դեպքում ձեր աշխատանքը չի գնահատվի։
2. Ստորև նշված գրադարաններից բացի այլ գրադարաններ չի՛ կարելի ներմուծել 
3. Կոդի համար նախատեսված հավելյալ վանդակներ ստեղծել նույնպես չի կարելի 
4. Մեկ ⭐-ը մեկ միավոր (հարաբերական) է  
5. Նորից կարդալ 1., 2. և 3. կետերը

Ներքոնշյալ վանդակը աշխատացնելու արդյունքում կներմուծվեն անհրաժեշտ գրադարաններ և տվյալներ։ **Խնդիրները լուծելու համար պետք է նախ կարդալ տվյալների նկարագրությունը։**

In [ ]:
import numpy as np
import pandas as pd

from sklearn.datasets import load_iris, fetch_openml
iris = load_iris()

titanic = fetch_openml(name='Titanic', version=1)
titanic = pd.concat([titanic['data'], titanic['target']], axis=1)

/usr/local/lib/python3.9/dist-packages/sklearn/datasets/_openml.py:932: FutureWarning: The default value of `parser` will change from `'liac-arff'` to `'auto'` in 1.4. You can set `parser='auto'` to silence this warning. Therefore, an `ImportError` will be raised from 1.4 if the dataset is dense and pandas is not installed. Note that the pandas parser may return different data types. See the Notes Section in fetch_openml's API doc for details.
  warn(

# Iris plants dataset

**Data Set Characteristics:**

    :Number of Instances: 150 (50 in each of three classes)
    :Number of Attributes: 4 numeric, predictive attributes and the class
    :Attribute Information:
        - sepal length in cm
        - sepal width in cm
        - petal length in cm
        - petal width in cm
        - class:
                - Iris-Setosa
                - Iris-Versicolour
                - Iris-Virginica

**Խնդիր 1.⭐** Ստորև վանդակը աշխատացնելուց հետո կստեղծվեն հետևյալ փոփոխականները՝ 

* data $\rightarrow$ $150 \times 4$ չափանի numpy զանգված 

* feature_names $\rightarrow$ string-երի list՝ 4 տարրից բաղկացած 

* target $\rightarrow$ $150$ չափանի numpy զանգված 

* target_names $\rightarrow$ string-երի list՝ 3 տարրից բաղկացած։

 Պահանջվում է գրել ``get_data_frame`` ֆունկցիա, որը կստեղծի  5 սյուն և 150 տող ունեցող pandas DataFrame այնպես, որ 
 
 * առաջին 4 սյուներում գրված լինեն ``data`` փոփոխականի պարունակությունը, սյուների անուններն էլ լինեն  'feature_names'-ի տարրերը (տրված հերթականությամբ)
 * իսկ հինգերորդ՝ "target name" կոչվող, սյան մեջ լինի ``target``-ը, բայց ամեն թվի փոխարեն գրված լինի 	``target_names``-ի համապատասխան ինդեքսով տարրը: 

Վերջնական DataFrame-ի առաջին 5 տողերը կունենան հետևյալ տեսքը՝
```
	sepal length (cm)	sepal width (cm)	petal length (cm)	petal width (cm)	target name
0	     5.1             	3.5	                1.4	           0.2	          setosa
1	     4.9            	 3.0                	1.4           	0.2	          setosa
2	     4.7             	3.2                	1.3           	0.2	          setosa
3	     4.6	             3.1                	1.5           	0.2	          setosa
4	     5.0             	3.6                	1.4           	0.2	          setosa
```

**Ստացված DataFrame֊ը օգտագործվելու է հաջորդ խնդիրներում**։

In [ ]:
def get_data_frame(data, feature_names, target, target_names):
  # Այստեղ կարող է լինել ձեր կոդը
   df = pd.DataFrame(data, columns=feature_names)
   df['target name'] = [target_names[i] for i in target]
   return df

In [ ]:
# Այստեղ կարող եք ստուգել ձեր լուծումը
df = get_data_frame(data=iris['data'],
                    feature_names=iris['feature_names'],
                    target=iris['target'],
                    target_names=iris['target_names'])
print(df)

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)  \
0                  5.1               3.5                1.4               0.2
1                  4.9               3.0                1.4               0.2
2                  4.7               3.2                1.3               0.2
3                  4.6               3.1                1.5               0.2
4                  5.0               3.6                1.4               0.2
..                 ...               ...                ...               ...
145                6.7               3.0                5.2               2.3
146                6.3               2.5                5.0               1.9
147                6.5               3.0                5.2               2.0
148                6.2               3.4                5.4               2.3
149                5.9               3.0                5.1               1.8

    target name
0        setosa
1        setosa
2        setosa
3        setosa
4        setosa
..          ...
145   virginica
146   virginica
147   virginica
148   virginica
149   virginica

[150 rows x 5 columns]

**Խնդիր 2.⭐⭐** Նախորդ խնդրում ստացված ``df`` աղյուսակի մեջ գրված է ծաղիկների թերթիկների (պսակաթերթի և բաժակաթերթի) երկարությունն ու լայնությունը և համապատասխան ծաղիկի համարը։ {'setosa', 'versicolor', 'virginica'} տեսակները՝ կոդավորված {0,1,2} թվերով։

![picture](https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRaU43Ra3xTYTpU2XLBw5yl20Qty3OCJzjDBw&usqp=CAU)

Ստեղծել ``get_stats`` անունով ֆունցկիա, որը, օգտագործելով ``pd.group_by`` ֆունկցիան, կհաշվի յուրաքանչուր ծաղկատեսակի թերթիկի (պսակաթերթ և բաժակաթերթ)

1. միջին երկարությունը
2. միջին լայնությունը
3. նվազագույն երկարությունը
4. նվազագույն լայնությունը
5. առավելագույն երկարությունը
6. առավելագույն լայնությունը

և որպես վերջնարդյունք կվերադարձնի pandas DataFrame, որի սյուները կլինեն 
 
```python
["mean sepal length (cm)", "mean petal length (cm)", "mean sepal width (cm)", "mean petal width (cm)", "min sepal length (cm)", "min petal length (cm)", "min sepal width (cm)", "min petal width (cm)", "max sepal length (cm)", "max petal length (cm)", "max sepal width (cm)", "max petal width (cm)"]
```
իսկ ծաղիկների տեսակները կլինեն ինդեքսների անունները։

In [ ]:
def get_stats(df):
  # Այստեղ կարող է լինել ձեր կոդը
    stats = df.groupby('target name').agg(
        sepal_length_mean=('sepal length (cm)', 'mean'),
        petal_length__mean =('petal length (cm)', 'mean'),
        sepal_width_mean=('sepal width (cm)', 'mean'),
        petal_width_mean=('petal width (cm)', 'mean'),
        sepal_length_min=('sepal length (cm)', 'min'),
        petal_length_min=('petal length (cm)', 'min'),
        sepal_width_min=('sepal width (cm)', 'min'),
        petal_width_min=('petal width (cm)', 'min'),
        sepal_length_max=('sepal length (cm)', 'max'),
        petal_length_max=('petal length (cm)', 'max'),
        sepal_width_max=('sepal width (cm)', 'max'),
        petal_width_max=('petal width (cm)', 'max')
        ) 
    stats.index.name = 'target name'
    columns = ["mean sepal length (cm)", "mean petal length (cm)", "mean sepal width (cm)", "mean petal width (cm)", "min sepal length (cm)", "min petal length (cm)", "min sepal width (cm)", "min petal width (cm)", "max sepal length (cm)","max petal length (cm)", "max sepal width (cm)", "max petal width (cm)"]
    stats.columns = columns
 
    return stats

In [ ]:
# Այստեղ կարող եք ստուգել ձեր լուծումը
df_stats = get_stats(df)
print(df_stats)

             mean sepal length (cm)  mean petal length (cm)  \
target name
setosa                        5.006                   1.462
versicolor                    5.936                   4.260
virginica                     6.588                   5.552

             mean sepal width (cm)  mean petal width (cm)  \
target name
setosa                       3.428                  0.246
versicolor                   2.770                  1.326
virginica                    2.974                  2.026

             min sepal length (cm)  min petal length (cm)  \
target name
setosa                         4.3                    1.0
versicolor                     4.9                    3.0
virginica                      4.9                    4.5

             min sepal width (cm)  min petal width (cm)  \
target name
setosa                        2.3                   0.1
versicolor                    2.0                   1.0
virginica                     2.2                   1.4

             max sepal length (cm)  max petal length (cm)  \
target name
setosa                         5.8                    1.9
versicolor                     7.0                    5.1
virginica                      7.9                    6.9

             max sepal width (cm)  max petal width (cm)
target name
setosa                        4.4                   0.6
versicolor                    3.4                   1.8
virginica                     3.8                   2.5

**Խնդիր 3.⭐⭐** Լրացնել ``remove_small_flowers`` ֆունկցիան, որը ``df`` աղյուսակից կջնջի այն տողերը, որոնց 'sepal width'-ը փոքր է իր տեսակի միջինից (օգտվելով նախորդ խնդրի հաշվարկներից ``df_stats``)։

In [ ]:
def remove_small_flowers(df, df_stats):
  # Այստեղ կարող է լինել ձեր կոդը
  for flower_type in df_stats.index:
      mean_sepal_width = df_stats.loc[flower_type, 'mean sepal width (cm)']
      df = df.drop(df[(df['target name'] == flower_type) & (df['sepal width (cm)'] < mean_sepal_width)].index)
  return df

In [ ]:
# Այստեղ կարող եք ստուգել ձեր լուծումը
df = remove_small_flowers(df, df_stats)
print(df)

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)  \
0                  5.1               3.5                1.4               0.2
4                  5.0               3.6                1.4               0.2
5                  5.4               3.9                1.7               0.4
10                 5.4               3.7                1.5               0.2
14                 5.8               4.0                1.2               0.2
..                 ...               ...                ...               ...
144                6.7               3.3                5.7               2.5
145                6.7               3.0                5.2               2.3
147                6.5               3.0                5.2               2.0
148                6.2               3.4                5.4               2.3
149                5.9               3.0                5.1               1.8

    target name
0        setosa
4        setosa
5        setosa
10       setosa
14       setosa
..          ...
144   virginica
145   virginica
147   virginica
148   virginica
149   virginica

[80 rows x 5 columns]

# Titanic

Titanic dataset-ի մասին կարելի է կարդալ [այստեղ](https://www.kaggle.com/competitions/titanic/data)։

**Խնդիր 4.⭐** Լրացնել ``problem4`` ֆունկցիան այնպես, որ այն վերադարձնի հետևյալ պայմաններին բավարարող տղամարդկանց տվյալները որպես dataframe, 
* ում անվան մեջ կա ``ian`` կամ ``yan`` բառերը,
* ում pclass=3 և embarked=C

In [ ]:
def problem4(data):
  return data[(data['pclass'] == 3) & (data['embarked'] == 'C') & (data['name'].str.contains('ian') | data['name'].str.contains('yan'))]

In [ ]:
# Այստեղ կարող եք ստուգել ձեր լուծումը
print(problem4(data = titanic))

      pclass                                   name     sex   age  sibsp  \
647      3.0  Assaf Khalil, Mrs. Mariana ('Miriam')  female  45.0    0.0
941      3.0                  Krekorian, Mr. Neshan    male  25.0    0.0
994      3.0                Mardirosian, Mr. Sarkis    male   NaN    0.0
1201     3.0                  Sirayanian, Mr. Orsen    male  22.0    0.0
1277     3.0                   Vartanian, Mr. David    male  22.0    0.0
1306     3.0              Zakarian, Mr. Mapriededer    male  26.5    0.0
1307     3.0                    Zakarian, Mr. Ortin    male  27.0    0.0

      parch ticket    fare  cabin embarked   boat   body   home.dest survived
647     0.0   2696  7.2250   None        C      C    NaN  Ottawa, ON        1
941     0.0   2654  7.2292  F E57        C     10    NaN        None        1
994     0.0   2655  7.2292  F E46        C   None    NaN        None        0
1201    0.0   2669  7.2292   None        C   None    NaN        None        0
1277    0.0   2658  7.2250   None        C  13 15    NaN        None        1
1306    0.0   2656  7.2250   None        C   None  304.0        None        0
1307    0.0   2670  7.2250   None        C   None    NaN        None        0

**Խնդիր 5.⭐⭐** Լրացնել ``problem5`` ֆունկցիան, որը
 * պետք է վերադարձնի բոլոր ուղևորների տվյալները, ում տարիքի տվյալը բացակայում էր սկզբնական տվյալներում, ինչպես նաև

* լրացնի բացակայող տարիքները ըստ համապատասխան pclass-ի միջին տարիքի

In [ ]:
def problem5(data):
    mean_ages = data.groupby('pclass')['age'].mean().to_dict()
    filled_data = data.copy()
    filled_data['age'].fillna(mean_ages, inplace=True)
  
    incomplete_data = filled_data[filled_data['age'].isnull()]
    return incomplete_data

In [ ]:
# Այստեղ կարող եք ստուգել ձեր լուծումը
print(problem5(data=titanic))

      pclass                                               name     sex  age  \
15       1.0                                Baumann, Mr. John D    male  NaN
37       1.0      Bradley, Mr. George ('George Arthur Brayton')    male  NaN
40       1.0                          Brewe, Dr. Arthur Jackson    male  NaN
46       1.0                              Cairns, Mr. Alexander    male  NaN
59       1.0  Cassebeer, Mrs. Henry Arthur Jr (Eleanor Genev...  female  NaN
...      ...                                                ...     ...  ...
1293     3.0                  Williams, Mr. Howard Hugh 'Harry'    male  NaN
1297     3.0                             Wiseman, Mr. Phillippe    male  NaN
1302     3.0                                  Yousif, Mr. Wazli    male  NaN
1303     3.0                              Yousseff, Mr. Gerious    male  NaN
1305     3.0                              Zabour, Miss. Thamine  female  NaN

      sibsp  parch      ticket     fare cabin embarked  boat body  \
15      0.0    0.0    PC 17318  25.9250  None        S  None  NaN
37      0.0    0.0      111427  26.5500  None        S     9  NaN
40      0.0    0.0      112379  39.6000  None        C  None  NaN
46      0.0    0.0      113798  31.0000  None        S  None  NaN
59      0.0    0.0       17770  27.7208  None        C     5  NaN
...     ...    ...         ...      ...   ...      ...   ...  ...
1293    0.0    0.0    A/5 2466   8.0500  None        S  None  NaN
1297    0.0    0.0  A/4. 34244   7.2500  None        S  None  NaN
1302    0.0    0.0        2647   7.2250  None        C  None  NaN
1303    0.0    0.0        2627  14.4583  None        C  None  NaN
1305    1.0    0.0        2665  14.4542  None        C  None  NaN

             home.dest survived
15        New York, NY        0
37     Los Angeles, CA        1
40    Philadelphia, PA        0
46                None        0
59        New York, NY        1
...                ...      ...
1293              None        0
1297              None        0
1302              None        0
1303              None        0
1305              None        0

[263 rows x 14 columns]

**Խնդիր 6.⭐⭐** Լրացնել ``problem6`` ֆունկցիան այնպես, որ այն վերադարձնի այսպիսի dataframe, որտեղ x-ի փոխարեն լինեն survived բնութագրիչի համապատասխան արժեքների միջինները։

|pclass | sex  | avg(survived) |  
|-----|--------| ------------- |
|1    | male       |      x        |
|2    | male       |      x        |
|3    | male       |      x        |
|1    | female       |      x        |
|2    | female       |      x        |
|3    | female       |      x        |

In [ ]:
def problem6(data):
    data['survived'] = data['survived'].astype('int')
    mean_df = data.groupby(['pclass', 'sex'])['survived'].mean().reset_index()
    mean_df.columns = ['pclass', 'sex', 'avg(survived)']
    return mean_df

In [ ]:
# Այստեղ կարող եք ստուգել ձեր լուծումը
print(problem6(data=titanic))

   pclass     sex  avg(survived)
0     1.0  female       0.965278
1     1.0    male       0.340782
2     2.0  female       0.886792
3     2.0    male       0.146199
4     3.0  female       0.490741
5     3.0    male       0.152130

**Խնդիր 7.⭐⭐** Լրացնել ``problem7`` ֆունկցիան, որը պետք է վերադարձնի այն սյուները, որտեղ կան բացակայող տվյալներ՝ դրանք նախապես հետևյալ կերպ լրացնելով․
* բոլոր այն սյուներում, որտեղ կան արժեքներ առաջին տողում, պետք է լրացվեն վերցնելով բացակայող արժեքից անմիջապես առաջ եղած արժեքը
* բոլոր այն սյուներում, որտեղ կան արժեքներ վերջին տողում, պետք է լրացվեն վերցնելով բացակայող արժեքից անմիջապես հետո եղած արժեքը
* եթե վերոնշյալ 2 պայմանները բավարարվում են, ապա պետք է բացակայող արժեքները լրացվեն առաջին և վերջին տողերում առկա արժեքների թվաբանական միջինով
* եթե առաջին 2 պայմանները տեղի չունեն, ապա բացակայող տվյալները լրացնել 0֊ներով։

In [ ]:
def problem7(data):
  # Այստեղ կարող է լինել ձեր կոդը
    nan_columns = data.loc[:, data.isna().any()]
    nan_columns.fillna(method='ffill', inplace=True)
    nan_columns.fillna(method='bfill', inplace=True)

    for col in nan_columns:
        if pd.isna(nan_columns[col][0]) and pd.isna(nan_columns[col].iloc[-1]):
            mean_val = (nan_columns[col + 1][0] + nan_columns[col - 1][0]) / 2
            nan_columns[col].fillna(mean_val, inplace=True)
        elif pd.isna(nan_columns[col][0]):
            nan_columns[col].fillna(0, inplace=True)
        elif pd.isna(nan_columns[col].iloc[-1]):
            nan_columns[col].fillna(0, inplace=True)

    return nan_columns

In [ ]:
# Այստեղ կարող եք ստուգել ձեր լուծումը
print(problem7(data=titanic))

          age      fare    cabin embarked boat   body  \
0     29.0000  211.3375       B5        S    2  135.0
1      0.9167  151.5500  C22 C26        S   11  135.0
2      2.0000  151.5500  C22 C26        S   11  135.0
3     30.0000  151.5500  C22 C26        S   11  135.0
4     25.0000  151.5500  C22 C26        S   11  135.0
...       ...       ...      ...      ...  ...    ...
1304  14.5000   14.4542      F38        C    C  328.0
1305  14.5000   14.4542      F38        C    C  328.0
1306  26.5000    7.2250      F38        C    C  304.0
1307  27.0000    7.2250      F38        C    C  304.0
1308  29.0000    7.8750      F38        S    C  304.0

                            home.dest
0                        St Louis, MO
1     Montreal, PQ / Chesterville, ON
2     Montreal, PQ / Chesterville, ON
3     Montreal, PQ / Chesterville, ON
4     Montreal, PQ / Chesterville, ON
...                               ...
1304   Antwerp, Belgium / Stanton, OH
1305   Antwerp, Belgium / Stanton, OH
1306   Antwerp, Belgium / Stanton, OH
1307   Antwerp, Belgium / Stanton, OH
1308   Antwerp, Belgium / Stanton, OH

[1309 rows x 7 columns]

/usr/local/lib/python3.9/dist-packages/pandas/core/frame.py:5176: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().fillna(

**Խնդիր 8.⭐⭐** Լրացնել ստորև ֆունկցիան այնպես, որ այն վերադարձնի ``titanic`` dataset-ի տողերի երկարությամբ pandas.Series, որտեղ ամեն տողի արժեք իրենից ներկայացնում է 
* այդ տողի ուղևորի անվան երկարության (բացատները չհաշված), pclass-ի և տարիքի արտադրյալը, եթե տարիքը առկա է և 
* հակառակ դեպքում ընդհանուր տվյալների մեջ ամենաերկար անուն ունեցող ուղևորի տարիքը

In [ ]:
def problem8(data):
  # Այստեղ կարող է լինել ձեր կոդը
  lname = data['name'].str.replace(' ', '').str.len()
  max_age = data.loc[lname.idxmax(), 'age']
    
  return pd.Series(lname * pd.to_numeric(data['pclass']) * data['age'].fillna(max_age))

In [ ]:
# Այստեղ կարող եք ստուգել ձեր լուծումը
print(problem8(data=titanic))

0        754.0000
1         24.7509
2         50.0000
3        960.0000
4       1000.0000
          ...
1304     783.0000
1305     969.0000
1306    1828.5000
1307    1377.0000
1308    1392.0000
Length: 1309, dtype: float64

**Խնդիր 9.⭐⭐** problem9-ի արդյունքը պետք է լինի ամենաթանկ տոմսը գնած ուղևորների տարիքների թվաբանական միջինը։

In [ ]:
def problem9(data):
  # Այստեղ կարող է լինել ձեր կոդը
    return data.loc[data.ticket==np.max(data.ticket)]['age'].mean()

In [ ]:
# Այստեղ կարող եք ստուգել ձեր լուծումը
print(problem9(data=titanic))

53.0

**Խնդիր 10.⭐⭐** Խնդիր 8-ում ստեղծած շարքը ավելացնել սկզբնական տվյալներին որպես առաջին սյուն "Col1" անունով։

In [ ]:
def problem10(data):
  # Այստեղ կարող է լինել ձեր կոդը
  df=data
  df.insert(loc=0, column='Col1', value=problem8(data))
  return df

In [ ]:
# Այստեղ կարող եք ստուգել ձեր լուծումը
print(problem10(data=titanic))

           Col1  pclass                                             name  \
0      754.0000     1.0                    Allen, Miss. Elisabeth Walton
1       24.7509     1.0                   Allison, Master. Hudson Trevor
2       50.0000     1.0                     Allison, Miss. Helen Loraine
3      960.0000     1.0             Allison, Mr. Hudson Joshua Creighton
4     1000.0000     1.0  Allison, Mrs. Hudson J C (Bessie Waldo Daniels)
...         ...     ...                                              ...
1304   783.0000     3.0                             Zabour, Miss. Hileni
1305   969.0000     3.0                            Zabour, Miss. Thamine
1306  1828.5000     3.0                        Zakarian, Mr. Mapriededer
1307  1377.0000     3.0                              Zakarian, Mr. Ortin
1308  1392.0000     3.0                               Zimmerman, Mr. Leo

         sex      age  sibsp  parch  ticket      fare    cabin embarked  boat  \
0     female  29.0000    0.0    0.0   24160  211.3375       B5        S     2
1       male   0.9167    1.0    2.0  113781  151.5500  C22 C26        S    11
2     female   2.0000    1.0    2.0  113781  151.5500  C22 C26        S  None
3       male  30.0000    1.0    2.0  113781  151.5500  C22 C26        S  None
4     female  25.0000    1.0    2.0  113781  151.5500  C22 C26        S  None
...      ...      ...    ...    ...     ...       ...      ...      ...   ...
1304  female  14.5000    1.0    0.0    2665   14.4542     None        C  None
1305  female      NaN    1.0    0.0    2665   14.4542     None        C  None
1306    male  26.5000    0.0    0.0    2656    7.2250     None        C  None
1307    male  27.0000    0.0    0.0    2670    7.2250     None        C  None
1308    male  29.0000    0.0    0.0  315082    7.8750     None        S  None

       body                        home.dest  survived
0      None                     St Louis, MO         1
1       NaN  Montreal, PQ / Chesterville, ON         1
2       NaN  Montreal, PQ / Chesterville, ON         0
3     135.0  Montreal, PQ / Chesterville, ON         0
4       NaN  Montreal, PQ / Chesterville, ON         0
...     ...                              ...       ...
1304  328.0                             None         0
1305    NaN                             None         0
1306  304.0                             None         0
1307    NaN                             None         0
1308    NaN                             None         0

[1309 rows x 15 columns]